<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/quiz.css}" />
    <title>Preguntas</title>
</head>
<body>

<div class="container py-5 px-4">
    <h2>Ingreso exitoso!</h2>
        <span> a los juegos de AYI</span>
    <h2 class="text-light">Seleccionar la opción correcta</h2>

    <h3>Acá va la lista de preguntas de prueba</h3>
    <form action="submit" th:object="${conjuntoPreguntas}" method="POST">
        <div class="ques-box text-light" th:each="preguntas: ${conjuntoPreguntas.getListado()}">
            <p class="title" th:text="${preguntas.getPregunta()}"></p>

            <div>
                <input type="radio" name="${preguntas.getId()}" value="${preguntas.getOpcion1()}" th:value="${preguntas.getOpcion1()}" th:checked="${preguntas.getOpcion1() == preguntas.getOpcionCorrecta()}">
                <label th:text="${preguntas.getOpcion1()}"></label>
            </div>

            <div>
                <input type="radio" name="${preguntas.getId()}" value="${preguntas.getOpcion2()}" th:value="${preguntas.getOpcion2()}" th:checked="${preguntas.getOpcion2() == preguntas.getOpcionCorrecta()}">
                <label th:text="${preguntas.getOpcion2()}"></label>
            </div>

            <div>
                <input type="radio" name="${preguntas.getId()}" value="${preguntas.getOpcion3()}" th:value="${preguntas.getOpcion3()}" th:checked="${preguntas.getOpcion3() == preguntas.getOpcionCorrecta()}">
                <label th:text="${preguntas.getOpcion3()}"></label>
            </div>
        </div>
        <input type="submit" value="Enviar" class="btn btn-success">

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>